[user]
  name = Trent Robbins
  email = robbintt@gmail.com
[core]
  editor = vim
[merge]
  tool = vimdiff
[alias]
  br = branch
  example = !sh -c 'echo ${2:-$1}'
  # git get -- <branchname>, or git get -- <remote> <branchname>
  get = !sh -c 'git fetch && git checkout -b ${2:-$1} --track `[ -z $2 ] && echo origin || echo $1`/${2:-$1}'
  stauts = status
  st = status
  s = status
  c = commit
  co = commit
  ll = pull
  sh = push
  psuh = push
  br = branch
  # from: http://blog.kfish.org/2010/04/git-lola.html
  # show struture of git tree
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  # lol alias for all branches
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  # word diff
  dw = diff --word-diff=color --patience
  wd = dw
[push]
  default = simple
[pull]
	rebase = false
[diff]
	algorithm = histogram
